* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.calculator { 
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 800px;
    background-color: #C1D0E3;
    border: red 2px solid;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    width: 60px;
    height: 40px;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    background-color:#E3C1D0;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    padding-inline: 10px;
    margin-block: 25px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    padding-inline: 50px;
}

.top-part {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border: blue 3px solid;
}

.operators {
    display: flex;
    justify-content: space-around;
}

.additional-buttons {
    display: flex;
    justify-content: space-around;
}

.pink-buttons
{
    background-color: #E3C1D0;
}

.green-buttons {
    background-color: #D0E3C1;
}
